body {
    background-color: #E1EFE6;
}

h1 {
    font-size: 2.5rem;
    margin-top: 50px;
}

h3, p, li, a, label, legend, button {
    color: #000411;
    font-family: 'Neutron', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-left: 60%;
}

li {
    list-style: none;
}

h1 {
    color: #160C28;
    font-family: 'Overlock';
}

#strong {
    font-size: 4rem;
}

h2 {
    color: #160C28;
    font-family: 'Overlock';
    margin-left: 30px;
}

h3 {
    margin-left: 25px;
}

.header {
    display: flex;
    justify-content: center;
}

.container-3-wide {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 400px;
}

.text-3-wide {
    width: 300px;
    text-align: center;
}

.likes-dislikes {
    display: flex;
    flex-direction: row;
}

#moose-pic-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#moose-pic {
    border-radius: 5px;
    width: 25%;
    height: 25%;
}


/* styling for "ask-moose" page */

form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form-container {
    width: 30%;
}

fieldset {
    display: flex;
    flex-direction: column;
    border-color: #AEB7B3;
    align-items: center;
}

legend {
    text-align: center;
}

#treat-question {
    margin-bottom: 0;
}

#treats {
    margin-bottom: 10px;
}

input:focus, input:active, select:active, select:focus, textarea:focus, textarea:active {
    outline: none;
    border: 3px solid #EFCB68;
}

/* styling for pomeranians page */

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links {
    text-align: center;
}

.link {
    margin-top: 15px;
}

/* styling for gallery */

.pom-pic-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px 300px;
}

.pom-pic {
    width: 383px;
    height: 504px;
    border: 4px solid #EFCB68;
    border-radius: 30px;
}

.gal-label {
    display: flex;
    justify-content: center;
    font-weight: 700;
}